.custom-input:hover {
	border-color: #438972;
}

.input-screen-container div:last-child:hover {
	/* 边框颜色 */
	border-color: yellow;
	/* 背景颜色 */
	background-color: #fff;
	/* 字体颜色 */
	color: rgba(77, 77, 206, 0.606);
	/* 颜色的写法： 颜色名称，十六进制， RGB，RGBA，HSL */
	/* 尺寸：margin、padding、width、height、border-width... */
	/* 布局属性：flex, block */
	/* 定位属性：position：static、relative、absolute、 */
	/* display:flex; */
}
